$size-unit: 10px 10px 12px;

$size-media: 0px 500px 700px;

$theme-one: #ffd4db #ff4566;

$theme-two: #99ff99 #007600;

$theme-three: #ffff66 #898900;

$theme-four: #bcbcfd #0000ff;

$text-light: #f8f9fa;
